<div class="split-container">
    <div class="left-panel">
      <h1>Catan Board Generator</h1>
  
      <div class="button-group">
        <button class="generate-board-btn" (click)="GenerateBoard()">Generate Board</button>
        <button class="options-btn" (click)="openOptions()">Options</button>
      </div>
      
      <div *ngIf="tiles && tiles.length > 0" class="tile-percentage-box">
        <div *ngFor="let percentage of calculatePercentages()" class="percentage-item ">
          <span class="percentage-text">{{ percentage.type }}: {{ percentage.percentage }}%</span>
          <!-- Optional: You can add an icon or visual representation here, similar to the Home icon in the player list -->
          <i class="fas fa-percentage player-icon"></i>
        </div>
      </div>
      
    </div>
  
    <div class="right-panel">
      <div class="container">
        <div class="image-container">
          <div *ngFor="let row of rows; let i = index" [ngStyle]="getMarginForRow(i)">
            <div class="image-wrapper" *ngFor="let tile of row">
              <img [src]="getImageUrl(tile.type)" [alt]="tile.type" />
              <div *ngIf="tile.diceNumber > 0"
                [ngClass]="{
                  'dice-number': tile.diceNumber > 0,
                  'hide-if-zero': tile.diceNumber === 0,
                  'red-dice-number': tile.diceNumber === 6 || tile.diceNumber === 8
                }">
                {{ tile.diceNumber }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
<div id="optionsModal" class="modal" style="display:none">
  <div class="modal-content">
    <h2 class="modal-title">Options</h2>
    <form>
      <div class="checkbox-container">
        <label>
          <input type="checkbox" id="sixAndEightCanTouch" [(ngModel)]="sixAndEightCanTouch" [ngModelOptions]="{standalone: true}"/>
          <span class="custom-checkbox"></span>
          6 & 8 Can Touch
        </label>
      </div>
      <div class="checkbox-container">
        <label>
          <input type="checkbox" id="sameNumbers" [(ngModel)]="sameNumbers" [ngModelOptions]="{standalone: true}"/>
          <span class="custom-checkbox"></span>
          Same Numbers Can Touch
        </label>
      </div>
      <div class="checkbox-container">
        <label>
          <input type="checkbox" id="sameTypes" [(ngModel)]="sameTypes" [ngModelOptions]="{standalone: true}"/>
          <span class="custom-checkbox"></span>
          Same Resource Can Touch
        </label>
      </div>
    </form>
    <button class="close-btn" (click)="closeOptions()">Close</button>
  </div>
</div>

  